.header{
    margin-top: 50px;
    display:flex ;
}
.header__logo{
    margin-right: 60px;
}
.header__nav a{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    width: 57px;
    height: 20px;
    text-decoration: none;
    color: black;
    margin-right: 40px;
}
ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    display: flex;
}
.wrapper{
    display: flex;
    margin: auto;
    align-items: center;
}
.container{
    background: #F7F6FF;
    margin: 0 auto;
}
.reg a{
    text-decoration: none;
    color: green;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px 30px;
    gap: 10px;
    background: #F2F0FE;
    border-radius: 50px;
    margin-right: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.enter a{
    width: 53px;
    height: 20px;
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 30px;
    gap: 10px;
    background: #1DBF73;
    border-radius: 50px;
}
.header__nav li a{
    transition: all 0,3s ease 0s;
}
.header__nav li a:hover{
    color:blue
}
.buttons{
    display: flex;
    align-items: center;
}