*{
  margin:0;
  padding:0;
}
body{
  font-family: 'Montserrat', sans-serif;
  background: #F6FAFD;
}
a{
  text-decoration: none;
}
.container{
  max-width:1320px;
  margin:0 auto;
}
header{
  padding-top:50px;
  background: #F7F6FF;
}
.header__wrapper{
  position:relative;
}
.header__menu ul{
  list-style: none;
  display: flex;
}
.header__logo{
  margin-right:60px;
}
.header__menu a{
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.header__menu li{
  margin-right:40px;
}
.header__menu li:last-child{
  margin-right: 0;
}
.header__button{
  border-radius: 50px;
  padding:10px 30px;
}
.header__button.grey{
  background: #F2F0FE;
}
.header__button.grey a{
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #1DBF73;
  text-decoration: none;
}
.header__button.green{
  background: #1DBF73;
}
.main{
  background: #F7F6FF;
}
.header__button.green a{
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #F6FAFD;
  text-decoration: none;
}
.header__wrapper{
  display: flex;
  align-items: center;
}
.header__buttons{
  display: flex;
  position:absolute;
  right:0;
}
.header__button.grey{
  margin-right:30px;
}
.header__wrapper{
  display: flex;
  align-items: center;
}
.main__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__buttons{
  display: flex;
  position: absolute;
  right: 0;
}
.main{
  margin-top: 42px;
  padding-bottom: 133px;
}
.main__title{
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.05em;
  color: #222222;
  margin-bottom: 30px;
}
.main__wrapper-content{
  max-width: 596px;
}
.main__title a{
  color:#1DBF73
}
.main__descr{
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #222222;
  margin-bottom: 50px;
}
.main__form{
  display: flex;
  position: relative;
  max-width: 532px;
  width: 532px;
  margin-bottom: 50px;
}
.main__form input{
  width:513px;
  background: #F2F0FE;
  border-radius: 50px;
  border:none;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #656084;
  padding:20px 0;
  padding-left:19px;
}
.main__form input::placeholder{
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #14131b;
}
.main__form button{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #F6FAFD;
  padding: 17px 47px;
  background: #FBA457;
  border-radius: 50px;
  border:none;
}
.main__button{
  position: absolute;
  right: 3px;
  top:3px
}
.main__category-title{
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  margin-bottom: 30px;
}
.main__category-items{
  display: flex;
  flex-wrap: wrap;
}
.main__category-item{
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #222222;
  border: 1px solid #F2F0FE;
  border-radius: 50px;
  padding:10px 20px;
  margin-right: 20px;
  margin-bottom:20px;
}
.main__category-item link{
  color: #FBA457;
  border-color: #FBA457;
}
.main__category-item.link a{
  color: #FBA457;
}
.actual{
  padding-top:109px;
}
.actual__title{
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.02em;
  color: #222222;
  margin-bottom:48px;
}
.actual__items{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.actual__item{
  border: 1px solid #F2F0FE;
  border-radius: 20px;
  max-width:420px;
  margin-bottom:30px;
  width:420px;
  transition: all 0.3s ease-in-out;
}
.actual__item-header{
  display: flex;
  align-items: center;
  margin-bottom:30px;
}
.actual__item-img img{
  width:44px;
  margin-right:20px;
}
.actual__item-wrapper{
  padding:20px;
}
.actual__item-title{
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #222222;
}
.actual__item-descr{
  font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #222222;
margin-bottom:30px;
}
.actual__link{
  text-align: center;
}
.actual__link a{
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #1DBF73;
  border: 1px solid #1DBF73;
  border-radius: 50px;
  padding: 12px 146px;
  transition: all 0.3s ease-in-out;
}
.actual__all{
  display: flex;
  align-items: center;
  justify-content: center;
  height:100%;
  background: #F2F0FE;
  border-radius: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #1DBF73;
}
.actual__item:hover .actual__link a{
  background:#1DBF73;
  color: #F6FAFD;
}
.actual__item:hover{
  box-shadow: 0px 16px 16px rgba(34, 34, 34, 0.04);
  transform: translateY(-5px);
}
.top__title{
  font-weight: 600;
  font-size: 24px;
  color: #222222;
  margin-bottom: 40px;
}
.top__item-img img{
  width: 150px;
  margin-right: 32.5px;
}
.top__item-content{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.top__descr-name{
  margin-bottom: 12px;
  font-weight: 500;
  color: #222222;
}
.top__descr-post{
  margin-bottom: 10px;
  font-weight: 600;
  color: #FBA457;
}
.top__descr-projects{
  margin-bottom: 10px;
  font-weight: 500;
  color: #222222
}
.top__link a{
  color: #F6FAFD;
  
  align-items: center;
}
.top__link{
  width: 100%;
  max-width: 380px;
  box-sizing: border-box;
  left: 20px;
  top: 200px;
  background: #1DBF73;
  padding: 12px 150px;
  border: 1px solid #1DBF73;
  border-radius: 100px;
}
.top__item{
  background: #F6FAFD;
  box-shadow: 0px 16px 16px rgba(34, 34, 34, 0.04);
  border-radius: 20px;
  margin-bottom: 60px;
  max-width:420px;
}
.top__items{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.top__all{
  background: #F2F0FE;
  border-radius: 20px;
  width: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
  height:100%;
  background: #F2F0FE;
  border-radius: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #1DBF73;
}
.top__item-wrapper{
  padding:20px;
}