*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
body{
    font-family:'Montserrat', sans-serif;
}
.header{
    margin-top: 50px;
    display:flex ;
}
.header__logo{
    margin-right: 60px;
}
.header__nav a{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    width: 57px;
    height: 20px;
    text-decoration: none;
    color: black;
    margin-right: 40px;
}
ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    display: flex;
}
.wrapper{
    display: flex;
    margin: auto;
    align-items: center;
}
.container{
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
}
.reg a{
    text-decoration: none;
    color: green;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px 30px;
    gap: 10px;
    background: #F2F0FE;
    border-radius: 50px;
    margin-right: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.enter a{
    width: 53px;
    height: 20px;
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 30px;
    gap: 10px;
    background: #1DBF73;
    border-radius: 50px;
}
.header__nav li a{
    transition: all 0,3s ease 0s;
}
.header__nav li a:hover{
    color:blue
}
.buttons{
    display: flex;
    align-items: center;
}
.main{
    display: flex;
    margin: 0;
    align-items: center;
    margin-top: 62px;
}
.main__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.05em;
    color: #222222;
    margin-bottom: 30px;
}
.main__title a{
    color: #1DBF73;
}
.main__descr{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #222222;
    margin-bottom: 50px;
}
.search{
    display: flex;
    margin-bottom: 50px;
}
.category__title{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #222222;
    margin-bottom: 40px;
}
.category__items{
    display: flex;
    flex-wrap: wrap;
}
.category__item{
    margin-right: 60px;
    margin-bottom: 40px;
}
.category__button a{
    color: black;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;  
    color: #FBA457;
    background: #F7F6FF;
    border-radius: 50px;
}
.search{
    max-width:573px;
    position: relative;
}
.search__text input{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #656084;
    background: #F2F0FE;
    border-radius: 50px;
    width:573px;
    padding:20px 0;
    border:none;
    outline: none;
}
.search__button{
    position: absolute;
    right: 0;    
}
.search__button button{
    background: #FBA457;
    border: 3px solid #F2F0FE;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #F6FAFD;
    border-radius: 50px;
    padding:20px 50px;
}